<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/cloud.svg">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Este sitio fue creado por Angel Herrera usando datos de mapbox.com y openweather.com</p>
    <img src="/img/fondo13.png" alt="" class="portrait">
    </div>

    {{>footer}}

</body>
</html>