<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/cloud.svg">
    <title>Main Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    
    
       <form action="">
           <input placeholder="Ingresa una ubicación">
           <button>Search</button>
       </form>

       <p id="message-one"></p>
       <p id="message-two"></p>

    </div>

    {{>footer}}

     <script src="/js/app.js"></script>
</body>

</html>